{% extends 'base.html' %}
{% load static %}

{% block title %}
  Admin
{% endblock %}

{% block sidebar %}
  <div class="navigation">
    <ul>
      <li class="list"  id="dashboard_nav">
        <b></b>
        <b></b>
        <a href="{% url 'home' %}">
          <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="list" id="expenses_nav">
        <b></b>
        <b></b>
        <a href="{% url 'expenses' %}">
          <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
          <span class="title">Expenses</span>
        </a>
      </li>
      <li class="list" id="report_nav">
        <b></b>
        <b></b>
        <a href="{% url 'stats' %}">
          <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
          <span class="title">Reports</span>
        </a>
      </li>
      {% if user.is_superuser %}
        <li class="list active">
          <b></b>
          <b></b>
          <a href="{% url 'admin_dashboard' %}">
            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
            <span class="title">Admin</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="container my-4">
      {% include 'partials/_messages.html' %}
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="form-group" style="display: flex; flex-direction: row; align-items: center;">
            <span>Filter: </span>
            <span style="color: white;">-</span>
            <select class="form-control my-3" name="username" id="filter-users">
              <option value="Default">Default</option>
              {% for user in users %}
                <option name="username" value="{{ user.username }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <hr>

      {% if expenses|length > 0 %}
        <div class="main-table">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for expense in page_obj %}
                <tr>
                  <td>{{expense.owner.username}}</td>
                  <td>{{expense.amount}}</td>
                  <td>{{expense.category}}</td>
                  <td>{{expense.description}}</td>
                  <td>{{expense.date}}</td>
                  <td> <a href="{% url 'edit-expense' expense.id %}" class="btn btn-secondary btn-sm">Edit</a> </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="table-output">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody class="table-body">

            </tbody>
          </table>
        </div>

        <div class="pagination-container">
          <div class="row">
            <div class="col-md-6">
              Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </div>
            <div class="col-md-6">
              <ul class="pagination align-right float-end mr-auto">
               {% if page_obj.has_previous %}
                 <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                 <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
               {% endif %}
               {% if page_obj.has_next %}
                 <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                 <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
               {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% else %}
        <p class='mt-4'>No records found.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script_link %}
  <script type="text/javascript" src="{% static 'js/admin_dashboard/filter_users.js' %}"></script>
{% endblock %}
