{% extends 'base.html' %}

{% block title %}
  Add Expense
{% endblock %}

{% block sidebar %}
  <div class="navigation">
    <ul>
      <li class="list"  id="dashboard_nav">
        <b></b>
        <b></b>
        <a href="{% url 'home' %}">
          <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="list active" id="expenses_nav">
        <b></b>
        <b></b>
        <a href="{% url 'expenses' %}">
          <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
          <span class="title">Expenses</span>
        </a>
      </li>
      <li class="list" id="report_nav">
        <b></b>
        <b></b>
        <a href="{% url 'stats' %}">
          <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
          <span class="title">Reports</span>
        </a>
      </li>
      {% if user.is_superuser %}
        <li class="list">
          <b></b>
          <b></b>
          <a href="{% url 'admin_dashboard' %}">
            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
            <span class="title">Admin</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  <div class="container my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
      </ol>
    </nav>

    <div class="card">
      <div class="card-body">
        <form action="{% url 'add-expense' %}" method="post">
          {% csrf_token %}
          {% include 'partials/_messages.html' %}
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control form-control-sm mb-3"
                   type="number"
                   name="amount"
                   value="{{values.amount}}">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control form-control-sm mb-3"
                   type="text"
                   name="description"
                   value="{{values.description}}">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control mb-3" name="category">
              {% if values.category %}
                <option selected value="{{values.category}}">{{values.category}}</option>
              {% endif %}
              {% for category in categories %}
                {% if category.name != values.category %}
                  <option name="category" value="{{category.name}}">{{category.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="expense_date">Date of Expense</label>
            <input class="form-control form-control-sm"
                   type="date"
                   name="expense_date"
                   value="{{values.expense_date}}">
          </div>
          <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary my-3">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
